.textColor {
    color: #111;
}
.fireColor {
    color: darkorange;
}
.iceColor {
    color: deepskyblue;
}
.thunderColor {
    color: mediumpurple;
}
.manaTickColor {
    color: lightblue;
}
.damageColor {
    color: crimson;
}
.greyColor {
    color: lightgray;
}
.successColor {
    color: mediumseagreen;
}
.warningColor {
    color: darkorange;
}
.errorColor {
    color: red;
}

/* Overall */
.container {
    margin: 20px;
    accent-color: mediumpurple;
    font-family: monospace;
}
@media(min-width: 768px) {
    .container {
        margin: 40px;
    }
}
.container-narrow {
    max-width: 960px;
    margin: 10px auto;
}
/* Logging */

.logsAll {
    position: relative;
    width: 100%;
}

.logWindow {
    margin-bottom: 8px;
    border: 1px solid grey;
    text-align: left;
    padding: 0.5em 0.5em 10px;
    overflow-y: scroll;
}

.logWindow.actions {
    height: 100px;
}

.logWindow.events {
    height: 300px;
}

@media(min-width: 768px) {

    .logsTab {
        height: 400px;
    }

    .logWindow {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .logWindow.actions {
        left: 0;
        right: 50.5%;
        height: 100%;
    }
    .logWindow.events {
        left: 50.5%;
        right: 0;
        height: 100%;
    }
}

.logEntry {
    font-family: monospace;
    font-weight: bold;
}

/*======== sections ========*/

/* keyboard-controlled area */

.keyboardControlled {
    margin-bottom: 16px;
    border: 1px solid lightgrey;
    /*outline-offset: 8px;*/
    /*outline: lightgrey solid 1px;*/
    padding: 8px;
}
.keyboardControlled:focus {
    outline: mediumpurple solid 2px;
}

.keyboardControlled.realTime:focus {
    outline: mediumseagreen solid 2px;
}

/* playback control */

.config,.timeControl {
    display: block;
    margin-bottom: 10px;
}
@media(min-width: 768px) {
    .config,.timeControl {
        display: inline-block;
        width: 50%;
    }
}
.numberInput {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
.tickModeOption {
    display: inline-block;
    margin-right: 1em;
}
.tickModeDescription {
    padding: 1em 2em;
}
.radioButton {
    position: relative;
    top: 3px;
    margin-right: 0.25em;
}

/* Status display */

.statusDisplay {
    text-align: left;
    margin: 8px 0;
}
.statusDisplay>.-left {
    display: inline-block;
    vertical-align: top;
    width: 36%;
    height: 100%;
}
.statusDisplay>.-right {
    position: relative;
    display: inline-block;
    float: right;
    width: 56%;
}
/* resource bar & counter */
.resourceDisplay {
    text-align: left;
}

.resourceLocksDisplay {
    position: absolute;
}

.resource {
    margin-bottom: 4px;
    line-height: 1.5em;
}
.resource.hidden {
    display: none;
}
.resource-name, .resource-stacks, .resource-value {
    display: inline-block;
    height: 100%;
}
.resource-name {
    width: 108px;
    horiz-align: left;
}
.resource-stacksOrBarAndValue {
    width: 200px;
    display: inline-block;
}
.resource-stacks {
}
.resource>.progressBar {
    width: 100%;
}
.resource-stacks>.resourceStack {
    position: relative;
    top: 1px;
    margin-right: 8px;
}
.resource-value {
    margin-left: 6px;
}
/* resource stack */
.resourceStack {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid grey;
    vertical-align: top;
}
.resourceStackInner {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    border-radius: inherit;
}

/* buffs */
.buffsDisplay {
    height: 54px;
    text-align: right;
    line-height: 1em;
}
.buffsDisplay.enemy {
    margin-bottom: 4em;
}
.buffsDisplay.self {
}

.buff {
    text-align: center;
    width: 52px;
    display: inline-block;
}
.buff.hidden {
    display: none;
}
.buff>img {
    display: inline-block;
    height: 40px;
    vertical-align: top;
}

/* Skills window */

.skillsWindow {
    line-height: 1;
}
.skillInfoText {
    margin-bottom: 10px;
}
.skillButton {
    display: inline-block;
    position: relative;
}
.skillIcon {
    width: 48px;
    height: 48px;
    vertical-align: top;
    position: relative;
    display: inline-block;
}
.skillIcon.notReady {
    filter: brightness(0.5);
}
.skillIcon>img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -20px;
}
.skillIcon::after {
    content: "";
    background: url("https://img.finalfantasyxiv.com/lds/promo/h/X/hPseSzWlbPmvaEK5JZk3xGWbfQ.png") no-repeat;
    width: 48px;
    height: 48px;
    position: absolute;
}
.cdProgress {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 3px;
    margin-left: -20px;
    pointer-events: none;
}

/*======== individual elems ========*/

.clickable {
    display: inline-block;
}
.clickable:hover {
    cursor: pointer;
}

.manualTickSelection {
    display: inline-block;
}

.progressBar {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid grey;
    border-radius: 4px;
    height: 8px;
}

.toolTip {
    max-width: 300px;
}
.toolTip>p {
}