
/*======== sections ========*/

/* Status display */

.statusDisplay {
    position: relative;
    text-align: left;
    margin: 8px 0;
}
.statusDisplay>.-left {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
}
.statusDisplay>.-right {
    position: relative;
    display: inline-block;
    float: right;
    width: 50%;
}
/* buffs */
.buffsDisplay {
    height: 54px;
    text-align: right;
    line-height: 1em;
}
.buffsDisplay.enemy {
    margin-bottom: 3em;
}
.buffsDisplay.self {
}

.buff {
    text-align: center;
    width: 54px;
    display: inline-block;
}
.buff.hidden {
    display: none;
}
.buff>img {
    display: inline-block;
    height: 40px;
    vertical-align: top;
}

/* Skills window */

.skillsWindow {
    line-height: 1;
}
.skillInfoText {
    margin-bottom: 10px;
}
.skillButton {
    display: inline-block;
    user-select: none;
    position: relative;
}
.skillIcon {
    width: 48px;
    height: 48px;
    vertical-align: top;
    position: relative;
    display: inline-block;
}
.skillIcon.notReady {
    filter: brightness(0.4);
}
.skillIcon>img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -20px;
}
.skillIcon::after {
    content: "";
    background: url("https://miyehn.me/ffxiv-blm-rotation/misc/skillIcon_overlay.png") no-repeat;
    width: 48px;
    height: 48px;
    position: absolute;
}
.cdProgress {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 3px;
    margin-left: -20px;
    pointer-events: none;
}

/*======== individual elems ========*/

.clickable {
    display: inline-block;
}
.clickable:hover {
    cursor: pointer;
}

.paragraph {
    margin: 10px 0;
}