svg {
    display: block;
}

.timeline {
    margin: 10px 0;
    outline: 1px solid lightgrey;
    position: relative;
    vertical-align: middle;
}
.timeline-fixedLeftColumn {
    background: lightsteelblue;
    display: inline-block;
    width: 100px;
    vertical-align: bottom;
}
.timeline-fixedRightColumn {
    display: inline-block;
    width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    overflow-y: clip;
    vertical-align: bottom;
}
.timeline-fixedRightColumn::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #e8e8e8;
    height: 5px;
}
.timeline-fixedRightColumn::-webkit-scrollbar-thumb {
    background-color: darkgray;
}

.timeline-main {
    position: relative;
}

.timeline-elem{
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 1;*/
}
.timeline-elem.cursor {
}
.timeline-elem.damageMark {
}
.timeline-elem.skill{
}
.timeline-elem-skill-icon {
    display: block;
}
.timeline-elem-skill-icon:focus {
    outline: none;
}