.textColor {
    color: #111;
}
.fireColor {
    color: darkorange;
}
.iceColor {
    color: deepskyblue;
}
.thunderColor {
    color: mediumpurple;
}
.manaTickColor {
    color: lightblue;
}
.damageColor {
    color: crimson;
}
.greyColor {
    color: lightgray;
}
.successColor {
    color: mediumseagreen;
}
.errorColor {
    color: red;
}
