.LogWindow {
    font-family: monospace;
    font-weight: bold;

    border: 1px solid grey;
    text-align: left;
    width: 800px;
    height: 300px;
    margin: 15px auto;

    overflow-y: scroll;
}
